# Python
*.py[cod]

# C++
*.so
*.a
*.lai
*.la
*.dylib
*.dll
*.o
*.os
*.slo
*.lo

# SCons
.sconsign.dblite
custom.py
dist
build

# VS and VS Code
.vs
.vscode/*
*.user
*.code-workspace

# Eclipse
.settings
.*project

# JetBrains
.idea
CMakeLists.txt
cmake-build-debug

# backup and temp
*.swp
*.bak
*~

# mac cruft
.DS_Store

# Softimage testsuite
*.scntoc
testsuite/XSIProject/Backup/*
testsuite/XSIProject/Cache/*
testsuite/XSIProject/system/*
